@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div style="display: flex;align-items: center;justify-content: center;">
    <img src=~/wata-aws.png style="margin-top: 10rem;"/>
</div>
